// About page scss

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 
  'bioimage bio bio'
  'job1 job2 job3';
  // grid-template-columns: 1fr 1fr 1fr
  grid-template-columns: repeat(3, 1fr);

// nesting bio in about page
  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $quaternary-color 3px solid;

    // adding hover to bio image
    &:hover {
      opacity: 0.5;
      border-color: $quaternary-color;
      @include easeOut;
    }
  }
  
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
  
  // adding border for descriptions
  .des {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $quaternary-color 5px solid;
  }
  
  .des-1 {
    grid-area: job1
  }
  
  .job-2 {
    grid-area: job2
  }
  
  .job-3 {
    grid-area: job3
  }
}