$primary-color: #444;
$secondary-color: #eece1a;

// background image
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.2;

@mixin easeOut {
  // adding transition for icon color
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image{
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

  // instead of adding a overlay class div
  // use sudo element thats not in the html,
  // but css reads it still
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

