// Projects page scss

.projects {
  display: grid;
  // grid-gap: 20px; // can use px or rem
  // grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);


  img {
    width: 100%;
    border: 3px #000000 solid;

    // adding hover in projects
    &:hover {
      opacity: 0.5;
      border-color: $quinary-color;
      @include easeOut;
    }
  }
}

// Projects button scss
.btn {
  // display: inline-block;
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  text-align: center;

  &:hover {
    background: $quinary-color;
    color: set-text-color($secondary-color);
  }
}

// adding scss styles to both buttons. 
.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
  border: 1px solid #000000;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 0);
  color: #333;
  border: 1px solid #000000;
}