@import 'config';
@import 'menu';
@import 'about';
@import 'project';
@import 'contact';
@import 'footer';


// * => selecting everything in css
* {
  box-sizing: border-box;
}

// changing background color
body {
  @include background;
  background: $primary-color;
  // color: #000000;
  // color: #fff;
  // setting text color
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  // font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Roboto', sans-serif;
  // font-family: 'Reem Kufi', sans-serif;
  line-height: 1.5;
}

// headings

h1, h2, h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading{
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1 rem;
    // background: lighten($primary-color, 2);
  }
}

a {
  // color: #000000;
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  // z-index; how close the element is
  z-index: 2;
  width: 100%;
}

// heading colors
.text-secondary {
  color: #000000;
}
.text-secondary-home {
  color: $tertiary-color;
}
.text-secondary-about {
  color: $quaternary-color;
}
.text-secondary-project {
  color: $quinary-color;
}
.text-secondary-contact {
  color: $nonary-color;
}

main {
  padding: 4rem;
  // commenting height for main,
  // to have footer stick to the bottom.
  // height: 100%;

  // using calc method
  min-height: calc(100vh - 60px);

  // nesting the icons 
  .icons-social{
    margin-top: 1rem;
    .git {
      padding: 0.4rem;
      color: #000000;

      &:hover{
        color: $senary-color;
        @include easeOut();
      }
    }
    .linked {
      padding: 0.4rem;
      color: #000000;

      &:hover{
        color: $septenary-color;
        @include easeOut();
      }
    }
    .insta {
      padding: 0.4rem;
      color: #000000;

      &:hover{
        color: $octonary-color;
        @include easeOut();
      }
    }
  }

  // any main that has the id of home
  &#home {
    overflow: hidden;

    h1 {
      // vh; viewport height, another unit
      margin-top: 20vh;
      text-align: center;
    }
    h2 {
      text-align: center;
    }
    .icons-social {
      text-align: center;
    }
  }
}

////////////////////////////

// About page scss

////////////////////////////

// Project page scss

////////////////////////////

// Contact page scss

////////////////////////////

// Footer scss

////////////////////////////

// add import mobile at the bottom of the scss,
// so the media queries will run after the initial css.
@import 'mobile';
