@import 'config';
@import 'menu';

// * => selecting everything in css
* {
  box-sizing: border-box;
}


// changing background color
body {
  @include background;
  background: $primary-color;
  // color: #000000;
  // color: #fff;
  // seting text color
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  // font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Roboto', sans-serif;
  // font-family: 'Reem Kufi', sans-serif;
  line-height: 1.5;
}

// headings

h1, h2, h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading{
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1 rem;
    // background: lighten($primary-color, 2);
  }
}

a {
  // color: #000000;
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  // z-index; how close the element is
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $tertiary-color;
}

main {
  padding: 4rem;
  // commenting height for main,
  // to have footer stick to the bottom.
  // height: 100%;

  // using calc method
  min-height: calc(100vh - 60px);

  // nesting the icons 
  .icons-social{
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      color: #000000;

      &:hover{
        color: $tertiary-color;
        @include easeOut();
      }
    }
  }

  // any main that has the id of home
  &#home {
    overflow: hidden;

    h1 {
      // vh; viewport height, another unit
      margin-top: 20vh;
    }
  }
}

////////////////////////////

// About page scss
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 
  'bioimage bio bio'
  'job1 job2 job3';
  // grid-template-columns: 1fr 1fr 1fr

  grid-template-columns: repeat(3, 1fr);

// nesting bio  in about page
  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }
  
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
  
  // adding border for job descriptions
  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
  
  .job-1 {
    grid-area: job1
  }
  
  .job-2 {
    grid-area: job2
  }
  
  .job-3 {
    grid-area: job3
  }
}
////////////////////////////

// Projects page scss
.projects {
  display: grid;
  // grid-gap: 20px; // can use px or rem
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);


  img {
    width: 100%;
    border: 3px #000000 solid;

    // adding hover 
    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}
// Projects button scss
.btn {
  // display: inline-block;
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  text-align: center;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

// adding scss styles to both buttons. 
.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($tertiary-color, 0);
  color: #333;
}

////////////////////////////

// Contact page scss
$rhythm: 25px;

// form component
.c-form {
  display: block;
  border: none;
  margin: #{ $rhythm * 2} auto;
  max-width: 500px;

  &__heading{
    display: block;
    width: 100%;
    font-size: 2rem;
    line-height: 1.2;
    border-bottom: 1px solid #fff;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
  }

  &__row {
    & + & {
      padding-top: $rhythm;
    }
    // make any field fill atleast 2/3
    [name] {
      min-width: percentage(2/3);
    }
  }
}
////////////////////////

// Footer
#main-footer {
  text-align: center;
  padding: 1rem;
  // background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

// add import mobile at the bottom of the scss,
// so the media queries will run after the initial css.
@import 'mobile';

// landing page css

// main {
// 	display: flex;
// 	flex-direction: column;
// 	min-height: 100vh;
// 	justify-content: center;
// 	padding: 0 30px;
// 	text-align: center;
// }


// main > .lg-heading {
// 	font-family: 'Reem Kufi', sans-serif;
// 	font-size: 3.75em;
// 	font-weight: 600;
// }

// main > .sm-heading {
// 	font-size: 1.5rem;
// 	margin: 1.5rem 0;
//   font-weight: 100;
//   font-family: 'Reem Kufi', sans-serif;
// }
